/{
    leds {
        led4: led_4{
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "LED 1";
        
        };
        led5: led_5{
            gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
            label = "LED 2";
        
        };
    };
};
